.nav-div {
    background-color: cadetblue;
}

.header-nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.header-nav a {
    text-decoration: none;
    color: white;
}